/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.ls-icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-phone{
	width: 16px;
	height: 19px;
	background-image: url('../img/icons/phone.png');
}
.icon-basket{
	width: 30px;
	height: 24px;
	background-image: url('../img/icons/basket.png');
}

.hr-linear{
	hr{
		margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 0px solid #eee !important;

		width: 100%;
    height: 1px;
    display: block;
    background: url(../img/other/hr.png) repeat-x;
	}
}
.hr-dot-gradient{
	background-image: url('../img/other/hr-line-gradient.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 1px;
	width: 100%;
}
.hr-statement{
	background-image: url('../img/other/hr-statement.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}



.fa-star{
	color: $color-gray-1;
	&.fill{
		color: $color-1;
	}
}

.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
}


.bg-shadow{
	pointer-events: none;
}


figcaption{
	color: $color-3;
	margin-top: 10px;
	font-size: em(14, 15);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}


.bnr-entry{
	color: white;
	.align-i-center{
		background-size: cover;
		
	}
	.bg-shadow{
		background-color: $color-1;
		opacity: 0.65;
	}
	h1{
		padding-left: 15px;
		border-left: 5px solid;
	}
	@media (min-width: 992px) {
		.align-i-center{
			height: 215px;
		}
		h1{
			width: 80%;
		}
	}
	@media (max-width: 991px) {
		.container{
			width: 100%;
		}
	}
}





.drop-sub{
	position: relative;
	.drop-sub-box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(12px);
		transition: 
							transform 0.3s ease-in-out,
							visibility 0.3s ease-in-out,
							opacity 0.3s ease-in-out
							;
		position: absolute;
		z-index: 1;
	}
	&:hover{
		.drop-sub-box{
			opacity: 1;
			transform: inherit;
			visibility: visible;
			transition: 
				transform 0.3s ease-in-out,
				visibility 0.3s ease-in-out,
				opacity 0.3s ease-in-out
		}
	}
}

//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	@media (max-width: 991px) {
		display: none;
	}
}





.bnr-carousel{
	$slider-height: 320px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: $font-family-1;

	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	h1, p, .btn-def, .btn-opacity, img{
		opacity: 0;
		transition: 1s ease;
	}
	h1{
		color: white;
		font-family: em(36, 14);
		transform: matrix(1,0,0,1,0,-7);
	}
	p{

	}
	p, img{
		transform: translateY(20px);	
	}

	.btn-def, .btn-opacity{
		background-color: white;
		a{
			color: $color-3;
		}
		transform: scale(1.3);
	}

	.img-product{
		text-align: center;
		transform: scale(0);
		transition: all 0.8s ease;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	&:hover{
		.container-arrows{
			width: 95% !important;
			opacity: 0.5;
		}
	}
	.container-arrows{
    @extend .container;
    @extend .trans-center;
    transition: all 0.3s ease;
    z-index: 1;
    .flickity-prev-next-button{
    	height: 100px;
    }
    @media (min-width: 992px) {
    	width: 115% !important;
    	opacity: 0;
    }
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				justify-content: center;
				height: 90vh;
			}
		}

		
	}
	.bg-shadow{
		pointer-events: none;
		//background: linear-gradient(to bottom, transparent, $color-2);
	}


	//Навигация
	.flickity-page-dots{
		@extend .container;
		@extend .trans-center;
		position: absolute;
		top: auto !important;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		li{
			margin-left: 8px;
    	margin-right: 8px;
		}
	}
	@media (min-width: 992px) {
		//Стрелки
		.flickity-prev-next-button.previous{
			left: 0x;
		}
		.flickity-prev-next-button.next{
			right: 0;
		}
	}
	@media (max-width: 991px) {
		font-size: 0.75em;
		p{
			display: none;
		}
		figure{
			height: calc(100vh - 70px);
			.img{
				height: calc(100vh - 70px);
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			display: none;
		}
		.container-arrows{
			width: 100%;
		}
		.btn-opacity{
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}

}



.search-nav-content{
  position: relative;
  form{
    .search-input{
      width: 200px;
      height: 36px;
      margin-left: auto;
    }
  }
  input{
    border: 1px solid $color-2;
    border-radius: 5px;
    background-color: rgba(white, 0.3);
    height: 100%;
    width: 100%;
    padding: 0 15px;
  }
  button{   
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    background-color: transparent;
  }
}
//content


.gd-h-border{
	&:before{
		@extend .clafclear;
		height: 100%;
		width: 1px;
		right: -15px;
		background: linear-gradient(to bottom, transparent, $color-gray-2 50%, transparent);
	}
	&:nth-last-child(1){
		&:before{
			display: none;
		}
	}
}
//short-services
.short-services-items{
	.img{
		height: 150px;
		background-position: center;
		background-size: contain;
	}
	figure{
		position: relative;
		@extend .gd-h-border;
	}
	.btn-opacity{
		a{
			min-width: 225px;
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}
.borderstyle-1{
	border-top: 1px solid #40c4c8;
	border-image: url(../img/other/hr.png) 1 repeat repeat;
}
//short-articles
.short-articles-items{	
	@extend .borderstyle-1;
	.img{
		height: 425px;
		background-position: center;
		background-size: cover;
		filter: contrast(100%);
		transition: all 1s ease;
	}
	.img-content{
		position: relative;
		overflow: hidden;
	}
	.desc-content{
		padding: 10px 15px;
		display: flex;
		align-items: flex-end;
		color: white;
	}
	.btn-def{
		box-shadow: 0 2px 2px $color-4;
		a{
			font-size: 0.95em;
		}
	}
	h2,h3,h4{
		margin: 0;
		font-family: $font-family-3;
	}
	h4{
		text-transform: none;
		font-size: 1.35em;
	}
	.cap-content{
		border: 2px solid white;
		border-radius: 15px;
		padding: 5px 30px;
		h2{
			font-weight: 600;
		}
	}
	figure{
		position: relative;
		&:hover{
			.img{
				filter: contrast(115%);
				transform: scale(1.1) rotate(4deg);
			}
		}
	}
}

//short-specialoffer
.short-specialoffer-items{
	text-align: left;
	.cap-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.img-content{
		position: relative;
		overflow: hidden;
		perspective-origin: 0 50%;
		perspective: 1500px;
	}
	.btn-def{
		a{
			font-weight: normal;
		}
	}
	.desc-content{
		color: $color-4;
	}
	.img{
		background-position: center;
		background-size: contain;
		height: 200px;
		transition: all 0.5s ease-in-out;
		transform-origin: center;
		&:not(.second){
			transform: scale(1);
		}
		&.second{
			width: 100%;
			top: 0;
			left: 0;
			transform: scale(0);
			position: absolute;
			opacity: 0.5;
		}
	}
	figure, .boxes-cell{
		border: 1px solid $color-1;
		font-size: em(18, 14);
		text-align: center;
		box-shadow: 0 0 5px rgba(black, 0.5);
		&:hover{
			.img{
				&:not(.second){
					transform: scale(0);
					opacity: 0;
				}
				&.second{
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
	@media (min-width: 992px) {
		.cell-hover{
			background-color: transparent;
			top: -10px;
			.btn-def{
				color: white;
				box-shadow: none;
				&, &:hover{
					background-color: rgba($color-1, 0.8);
				}
				a{
					text-shadow: none;
				}
			}
		}
	}
}
.btn-inbasket{
	background-color: $color-1;
	color: white;
	@extend .text-shadow-1;	
	font-family: $font-family-5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	a{

	}
}




//about
.about-img-items{
	.img{
		background-position: center;
		height: 234px;
	}
}



//left-bar
.left-bar{
	&:before{
		content: '';
    background: #f8f8f8;
    height: 1000%;
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 257px;
    bottom: 0;
    background-color: #f8f8f8;
	}
	@media (max-width: 991px) {
		&:before{
			display: none;
		}
	}
}


.left-bar-list{
	li{
		a{
			display: inline-block;
    	padding: 12px 10px;
    	color: #1f5680;
    	position: relative;
    	width: 100%;
    	text-transform: uppercase;
    	font-size: 12px;
    	&:before{
    		content: '';
    		width: 100%;
    		height: 1px;
    		background: linear-gradient(to right, rgba(215,213,213,1) 0%, rgba(255,255,255,0) 100%);
    		position: absolute;
    		left: 0;
    		bottom: 0;
    	}
		}
  	&.active, &:hover{
  		a{
  			background: linear-gradient(to right, #e5e5e5 0%,#f5f5f5 100%);
  		}
  	}
	}
	@media (max-width: 991px) {
		background-color: $color-gray-1;
	}
}

//productions
.productions{

}
/* external css: flickity.css */
.carousel-container {
  display: flex;
}
.carousel {
  margin-bottom: 40px;
  //flex-grow: 1;
}

.carousel-cell {
  width: 100%;
  //height: 300px;
  margin-right: 10px;
	.img{
		height: 280px;
		background-position: center;
		background-size: cover;
	}
}



.carousel-nav{
  width: 110px;
  margin-left: 10px;
  max-height: 172px;
  overflow-y: hidden;
  margin-top: 45px;
  .img{
  	border: 1px solid $color-1;
  	background-position: center;
  	background-size: cover;
  	height: 80px;
  }
  @media (max-width: 991px) {
		display: none;
	}
	.carousel-cell {
	  height: 80px;
	  width: 90px;
	  margin: auto auto 11px auto;
	  cursor: pointer;
	}
	$color-scroll: rgba($color-scroll, 0.5);

	// CHROME
	&::-webkit-scrollbar{
		width:2px;
		position: absolute;
	}
	 &::-webkit-scrollbar-thumb{
	 	border-radius: 5px;
	 	z-index: 500;
		background-color: lighten($color-scroll, 0%);
	}
	&::-webkit-scrollbar-thumb:hover{ background-color: darken($color-scroll, 5%);} 
	&::-webkit-scrollbar-thumb:active{background-color: darken($color-scroll, 10%);}
	&::-webkit-scrollbar-track-piece{background-color: white;}
	// OPERA
	&::-o-scrollbar{
		width:5px;
		position: absolute;
	}
	&::-o-scrollbar-thumb{
		z-index: 500;
		border-radius: 5px;
		background-color: lighten($color-scroll, 5%);
	}
	&::-o-scrollbar-thumb:hover{
		background-color: darken($color-scroll, 5%);
	} 
	&::-o-scrollbar-thumb:active{
		background-color: darken($color-scroll, 10%);
	}
	&::-o-scrollbar-track-piece{
		background-color: rgba(white, 0.5);
	}

}

.production-carousel{
	border: 1px solid $color-1;
	position: relative;
	width: 100%;

	.flickity-viewport{
		@media (max-width: 991px) {
			z-index: 0;
		}
	}
	.flickity-slider{
		transform: none !important;
	}
	.carousel-cell{
		left: 0 !important;
		transition: all 0.3s ease;
		opacity: 0;
		&.is-selected{
			opacity: 1;
			z-index: 1;
		}
		img{
			height: 260px;
			width: auto;
			margin: auto;
			max-height: 100%;
			max-width: 100%;
			display: block;
		}
	}
	@media (min-width: 992px) {
		width: 260px;
		.flickity-prev-next-button{
			z-index: 25;
			right: -111px;
			left: auto;
			border-radius: 0;
			width: 90px;
			height: 25px;
			background-color: #ebebeb;
			&.next{
				top: auto;
				bottom: 0px;
			}
			&.previous{
				top: 24px;	
			}
			svg{
				transform: rotate(90deg);
				.arrow{
					fill: $color-1;
				}
			}
		}
	}
}

.finstorage-prices{
	.price{
		display: none;
		&.is-selected{
			display: block;
		}
	}
}
.price{
	font-size: 30px;
	color: $color-3;
	font-family: $font-family-5;
}
.finstorage-time{
	label{
		display: inline-block;
		padding: 10px 15px;
		background: linear-gradient(to right, transparent, $color-gray-1);
	}
}

.production-info{
	.tablist{
		margin: 10px -5px;
		
		
		a{
			text-transform: uppercase;
			display: block;
			padding: 8px 50px;
			line-height: 24px;
			background-color: #f1f1f1;
			color: #666;
			font-size: 1em;
		}
		@extend .letter-none;
		li{
			padding: 0 5px;
			//border: 1px solid black;
			display: inline-block;
			&.active{
				a{
					background-color: $color-gray-3;
					color: white;
				}
			}
		}
	}
	.tab-content{
		padding-top: 10px;
		border-top: 5px solid $color-1;
	}
}



//services
.services-items{
	figure{
		padding-left: 15px;
		padding-right: 15px;
		&:hover{
			.img{
				transform: translateY(-5px);
			}
		}
	}
	.img-content{
		border-bottom: 5px solid $color-1;
		padding: 10px 50px 10px 50px;
	}
	.img{
		transition: all 0.3s ease;
		height: 165px;		
		background-size: contain;
		background-position: center;
	}

}


//supports
.input-content{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
}
.supports-form{
	background-color: $color-gray-1;
	border-top: 5px solid $color-1;
	textarea{
		min-height: 264px;
	}
	.input-content{
		input, textarea{
			&:focus{
				border-color: $color-2;
			}
		}
	}
}

//clients
.clients-items{
	.img-content{
		border: 1px solid $color-1;
		padding: 25px 0;
		overflow: hidden;
		position: relative;
	}
	.img{
		height: 120px;
		background-position: center;
		background-size: auto;
		transition: all 0.9s ease;
	}
	figure{
		&:hover{
			.img{
				filter: contrast(130%);
			}
		}
	}
}

//contacts
.contacts-info-items{
	figure{
		position: relative;
		@extend .gd-h-border;
	}
	.img-content{
		min-height: 45px;
	}
	.fa{
		font-size: 30px;
	}
	.fa-mobile{
		font-size: 40px;
	}
}
.map-content{
	width: 100%;
}


//basket
.basket{
	.table-content{
		color: $color-3;
	}
}
.basket-table{
	border-spacing: 0;
	.cnt-production{
		//letter-spacing: -7px;
	}
	border: 1px solid #9b9999;
	tbody{
		text-align: center;
		position: relative;
		tr{
			background-color: transparent !important;
			th{
				text-align: center;
				text-transform: uppercase;
				background-color: $color-gray-1;
				border: none ;
				color: $color-gray-3;
				//border-right: 1px solid #a7a6a6;
				border-right: 1px solid rgba(#a7a6a6, 0.5);
				&:nth-last-child(1){
					border-right: none;
				}
			}
			td{
				vertical-align: middle;
				padding-top: 15px;
				padding-bottom: 15px;
				border-right: 1px solid rgba(#a7a6a6, 0.5);
				background-color: transparent;
				&:nth-last-child(1){
					border-right: none;
				}
			}
		}
	}
}
@keyframes anim-flicker {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba($color-3, 0.2);
  }
}

.anim-flicker{
	animation: anim-flicker 1s ease-in-out 4;
}

.steps{
	border: 2px dashed $color-gray-2;
	border-radius: 5px;
	h5{
		margin-top: 0;
		color: white;
		text-align: center;
		padding: 10px 15px;
		background-color: $color-3;
	}
}
.steps-items{
	figure{
		position: relative;
		//border: 1px solid $color-1;
		&:before{
			@extend .clafclear;
			background-image: url('../img/other/steps-arrow.png');
			width: 50px;
			height: 40px;
			right: 0;
			top: 25px;
			transform: translateX(80%);
		}
		&:nth-last-child(1){
			&:before{
				display: none;
			}
		}
		@media (max-width: 991px) {
			&:before{
				display: none;
			}
		}
	}
	.img{
		height: 90px;
		background-position: center;
	}
}


.basketservices-items{
	figure{
		.wrapper{
			padding: 15px 10px;
			border: 1px solid $color-gray-2;
			border-radius: 10px;
			background-color: $color-gray-1;
		}
		&:hover{
			.img{
				transform: translateY(-5px);
			}
		}
	}
	.img{
		transition: all 0.3s ease;
		height: 90px;
		background-position: center;
	}
}
.cnt-production{
	input{
		text-align: center;
		background-color: white;
		width: 30px;
		vertical-align: middle;
		border: 1px solid $color-3;
	}
	.cnt-btn{
		background-color: transparent;
		border: none;
		color: $color-1;
		vertical-align: middle;
		font-size: 22px;
	}
}


.form-ofd{
	.img{
		height: 60px;
		background-size: auto;
		background-position: center;
	}
}
.form-maintenance{
	.img{
		height: 130px;
		background-size: auto;
		background-position: center;
	}
}

.statement-form{
	font-family: $font-family-3;
	p{
		font-weight: 600;
		text-transform: uppercase;
	}
	form{
		font-size: 0.85em;
	}
	.pie-form-control{
		border-color: $color-gray-2;
	}
	.selection{
		text-transform: uppercase;
	}
	.checkbox-style-1{
		width: 20px;
		height: 20px;
	}
	@media (max-width: 991px){
		.income-inp{
			.income-inp-item{
				width: 100%;
			}
			.flex{
				justify-content: space-between;
			}
		}
		
	}
	.btn-def{
		button, a{
			min-width: 335px;
			padding-top: 23px;
			padding-bottom: 23px;	
			font-size: 14px;
		}
	}
}