/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//color: rgba(black, 0.4);
	//min-height: 150px;
	//background-size: cover;
	//background-image: url('../img/bg/bg-footer.jpg');
	line-height: 170%;
	background-repeat: repeat;
	background-position-y: top;
	color: white;
}
.footer-content{
	background-color: #393d46;
	padding-top: 30px;
	padding-bottom: 30px;
	.wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media (max-width: 991px) {
		.wrapper{
			flex-direction: column;
		}
	}
}


.formal-info{
	color: rgba(white, 0.65);
	font-size: 11px;
	line-height: 18px;
}

.copy-content{
	background-color: #393d46;
}
.dev{
	font-size: 0.9em;
}

