/*
		_header.scss	
*/


/*
										 ---HEADER---
*/

$header-top-height: 50px; 
$header-middle-height: 105px; 
$header-bottom-height: 50px;
$header-min-menu: 70px;

#header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	pointer-events: none;
	background-color: transparent;
	color: white;
	position: relative;
	//font-family: $font-family-1;
	*{
		pointer-events: auto;
	}
	@media (max-width: 991px){
		//position: fixed;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	&.fixeder{
		position: fixed;
		.header-top, .header-middle{
			display: none;
		}
		.menu ul:not([class*="sub-menu"]) > li:first-child{
			border-radius: 0 0 0 10px;
		}
		.menu ul:not([class*="sub-menu"]) > li:last-child{
			border-radius: 0 0 10px 0;
		}
		.basket-fixeder{
	    position: absolute;
	    right: 30px;
	    top: 50px;
	    background-color: #1f5781;
	    padding: 8px;
	    box-shadow: 0 3px 4px rgba(black, 0.4);
	    border-radius: 0 0 10px 10px;
	    z-index: 1;
	    .minibasket-icon{
	    	filter: brightness(0) invert(1);
	    }
		}
	}
}
.header-hidden{
	@media (max-width: 991px) {
		height: 70px;
	}
	&.fixeder{
		position: relative;
		height: 205px;
	}
}
.bnr-article{
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	.bg-shadow{
		@extend .fuller;
		background-image: url('../img/bg/bg-bnr-shadow.png');
		background-position: center;
		background-size: cover;
		&:before{
			//@extend .clafclear;
			//@extend .fuller;
			//background: linear-gradient( to bottom, #0d0d0d , rgba($color-3, 0.0));
		}
	}

	.wrapper{
		height: 250px;
		display: flex;
		align-items: center;
	}
}
.header-top{
	width: 100%;
	font-family: $font-family-3;
	font-size: 0.95em;
}
.header-top-content{
	background-color: $color-1;
	height: $header-top-height;
	border-bottom: 5px solid $color-3;
	padding-top: 2px;
	//overflow: hidden;
	&.align-i-center{
		flex-wrap: nowrap;
	}
	.text-uppercase{
		@extend .text-shadow-1; 
		font-size: em(14, 15);
		font-weight: bold;
	}
}
.header-top, .header-bottom{
	transform: inherit;transform: unset;
}
.header-middle-content{
	background-color: white;
	color: black;
	height: $header-middle-height;
}
.header-bottom{
	z-index: 1;
	width: 100%;
	.align-i-center{
		width: 100%;
		height: $header-bottom-height;
	}
}
.header-bottom-logo{
	padding-left: 15px;
	padding-right: 15px;
	text-align: right;
	img{
		display: none;
    @extend .filter-white;
    height: 50px;
	}
}

.header-logo {
	padding-top: 5px;
  padding-bottom: 5px; 
  
	img{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		width: 232px;
	}
}
.header-scroll{
	.header-top{
		transform-origin: 50% 0;
	}
	.header-bottom-logo{
		transform: scale(0);
		transition: all 0.5s ease; 	
	}
	.header-bottom{
		.align-i-center{
			top: 0;
			transition: all 0.5s ease; 	
		}
	}

	.header-top, .header-bottom, .header-top-content, .header-logo img{
		transition: all 0.5s ease; 	
	}
	&.scrolled, &.header-pages{
		.header-bottom-logo{
			transform: scale(1);
		}
		.header-top{
			box-shadow: 0px 5px 20px -10px black;
			padding-bottom: 0;
		}
		.header-top-content{
			height: 0;
			transform: scaleY(0);
			padding: 0;
		}
		.header-bottom{
			box-shadow: 0px 5px 20px -10px black;
			background-color: $color-1;
			li{
				&:before{
					display: none;
				}
			}
			.align-i-center{
				//justify-content: center;
				top: 30px;
			}
		}
	}
}

.header-info{
	width: 640px;
  padding-top: 10px;
  font-size: 0.95em;
	display: flex !important;
	justify-content: space-between;
	.color-2.m-l-40{
    position: absolute;
    top: -10px;
	}
	.col-md-4:nth-child(3){
		width: auto;
	}
}
.phone-info{
	.fa{
		font-size: 25px;
	}
	small{
		color: $color-1;
	}
	i{
		font-style: normal;
		font-family: $font-family-3;
	}
	p{
		font-family: $font-family-5;
	}
	big{
		font-size: 1.8em;
		font-weight: 400;
	}
}
.header-top{
	.btn-content{
		vertical-align: middle;
	}
}
.minibasket-content{
	vertical-align: middle;
	.minibasket-icon{
		font-size: 25px;
		color: $color-3;
	}
	.minibasket-cnt-content{
		position: relative;
		display: inline-block;
		vertical-align: baseline;
	}
	.minibasket-cnt{
		box-shadow: 0 2px 5px -1px black ;
		color: white;
		background-color: $color-2;
		width: 17px;
		height: 17px;
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		border-radius: 50%;
		text-align: center;
		font-size: 12px;
	}
	.minibasket-text{
		border-bottom: 1px dashed white;
		font-size: em(14, 15);
		text-shadow: 0 2px 1px $color-3;
		padding-bottom: 2px;
		font-weight: 600;
		font-family: $font-family-3;
		//transform: translateY(-5px);
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}


.menu{
	position: relative;
	height: 100%;
	font-size: em(12, 14);
	nav{
		white-space: nowrap;
		height: 100%;
	}
	ul:not([class*="sub-menu"]){
		backface-visibility: hidden;
		display: flex;
	  justify-content: center;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		@extend .letter-none;
		& > li{
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(28,148,188,1) 0%, rgba(31,85,127,1) 100%);
			display: inline-block;
			position: relative;
			letter-spacing: 0;
			text-shadow: 0px 1px 1px #000;
			border-bottom: 1px solid $color-4;
			&:not(:last-child):after{
		    content: '';
		    background: url(../img/other/menu-border.png) no-repeat;
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 2px;
		    height: 50px;
		    display: inline-block;
			}
			& > a{
				justify-content: center;
				height: 100%;
				display: block;
				padding: 10px 20px;
				position: relative;
				display: flex;
    		align-items: center;
			}
			&.active{
				background-color: $color-1;
			}
			&:hover{
				.sub-menu-1{
					transform: none;transform: unset;
					opacity: 1;
					//visibility: visible;
					&, li, a{
						pointer-events: auto !important;
					}
					li{
						transition: auto;
					}
					transition: 
											opacity 0.3s ease-in-out,
											transform 0.3s ease-in-out;
				}
				.productions-sub-menu{
					transform: inherit;
					opacity: 1;
					figure{
						transform: scale(1);
					}
				}
			}
			&:first-child{
				border-radius: 10px 0 0 10px;
			}
			&:last-child{
				border-radius: 0 10px 10px 0;
			}
		}
	}
	li{
		//overflow: hidden;
		display: inline-block;
		transition: all 0.4s ease;
		a{
			transition: all 0.3s ease;
			position: relative;
			z-index: 2;
		}
		&:nth-last-child(1){
			a{
				&:before{
					display: none;
				}
			}
		}
		&.active{
			background-color: $color-2;
		}

	}
}

ul[class*="sub-menu"]{
	position: absolute;
	box-shadow: 0 0 25px -8px black;
	font-weight: 400;
	min-width: 225px;
	transition: 
							opacity 0.3s ease-in-out,
							transform 0.3s ease-in-out,
							pointer-events 0s ease-in-out 0.3s;
	opacity: 0;
	font-size: 15px;
	z-index: 2;
	background-color: white;
	color: #666;
	padding-left: 15px; 
	padding-right: 15px; 
	a{
		border-bottom: 1px solid #e8e8e8;
		display: inline-block;
		&:before, &:after{
			display: none;
		}
	}
	li{
		text-shadow: none;
	}
}
.sub-menu-1{
	white-space: normal;
	text-transform: none;
	transform: matrix(1,0,0,1,0,5);
	transform-origin: 40% 0;
	text-align: left;
	color: #333;
	&, li, a{
		pointer-events: none !important;
	}
	li{
		white-space: nowrap;
		width: max-content;
		//min-width: 250px;
		width: 100%;
		a{
			padding: 17px 15px;
			display: block;
			position: relative;
			z-index: 1;
		}
		&:last-child{
			border-bottom: 0;
		}
		&:hover{
			color: $color-1;
			.sub-menu-2{
				opacity: 1;
				transform: none;transform: unset; 
			}
		}
	}
	a{
		display: block;
		transition: all 0.3s ease-in-out;
		padding: 8px 5px;
		//white-space: nowrap;

	}
}
.sub-menu-2{
	left: 100%;
	margin-top: -40px;
	transform: matrix(1,0,0,1, 10,0);
}















/*
										 ---MIN-MENU---
*/




#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	background-position: right;
	.search-nav-content{
		.search-input{
			border: 1px solid rgba($color-gray-1, 0.2) !important;
		}
		.fa{
			color: white !important;
		}
		input{
			background-color: transparent;
			border: none;
			color: white;
		}
	}
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}



.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 0 25px;
	z-index: 100;
	color: #333;
	box-shadow: 0 0 20px 0 black;
	background-color: white;
	font-size: 0.9em;
	.min-menu-logo{
		padding: 12px 0;
		width: 100%;
		h1{
			font-size: 25px;
		}
		.img{
			background-size: contain;
			background-position: center left;
			height: 45px;
		}
	}
	.min-menu-bar{
		padding: 5px 0;
		.bar{
			transform: scale(0.8);
		}
	}

}
.mm-navbars-top{
	//background-color: #333;
}
.mm-opening{
	.min-menu-header{
		opacity: 0 ;
		top: -200px;
	}
	.header-hidden{
		transition: height 0.3s ease-in-out 0.0s;
	}

}



// ---MM-MENU---
.mm-navbar{
	.close-btn{
		width: 35px;
		height: 35px;
	}
}
.mm-slideout{
	z-index: auto;
}
.mm-panel{
	.search-input{
		input{
			border-color: $color-gray-2;
		}
	}
}
.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			filter: drop-shadow( 0 -5px 1px darken($color-1, 5%) );
			width:100px;
			margin-top: 15px;
		}
	}
}

// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}


.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: $color-3;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}
.close-content{
	.icon-bar{
		transform-origin: center;
		margin: -1px;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}

.form-control{
	border-radius: 10px;
	&:focus, &:active, &{
		box-shadow: none;
	}
	resize: none;
	border-width: 0px;
	background-color: $color-gray-3;
	border-color: rgba($color-1, 0.3);
}
textarea.form-control{
	height: 150px;
}




//search nav



.fancymodal{
	@media (max-width: 991px){
		input.pie-form-control[type="checkbox"]{
			width: 20px;
			height: 20px;
		}
		.modal-col{
			height: auto !important;
			margin: 15px 0;
			padding-bottom: 15px;
			border-bottom: 1px dotted gray;
		}
	}
}
#form_order, #form_feedback{	
	@media (min-width: 992px) {
		width: 420px;
	}
}

.form-def{	
	padding-right: 40px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-color: #eae9e9;
	background-position: center;
	color: black;
	@media (min-width: 992px) {
		width: 1000px;
	}
	@media (max-width: 991px) {
		.form-items{
			text-align: center;
		}
		.flex{
			text-align: center;
			flex-direction: column;
		}
	}
	h4{
		color: $color-3;
	}
	.cap-content{
		padding-bottom: 10px;
		position: relative;
		&:before{
			@extend .clafclear;
			bottom: 0;
			width: 100%;
			height: 1px;
			left: 0;
			background: linear-gradient(to right, transparent, $color-gray-2 50%, transparent);
		}
	}
	.fancybox-close-small{
		top: 15px;
    right: 15px;
    &:after{
   		font-size: 35px;
    }
    &:focus:after{
    	outline: none;
    }
	}


	input.pie-form-control{
		background-color: $color-gray-1;
		@include placeholder-color( $color-gray-2 );
		color: black;
	}
	textarea.pie-form-control{
		background-color: $color-gray-1;
	}

}


input.feedback-control{
	border: 1px solid white;
	background-color: transparent;
	border-radius: 0;
	height: 35px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	@include placeholder-color( $color-gray-2 );
}

.feedback-btn{
	border: 1px solid $color-2;
	background-color: #1b8cb3;
	border-radius: 20px;
	text-transform: uppercase;
	@extend .text-shadow-1;
	display: inline-block;
	box-shadow: 0 1px 1px rgba(black, .5);
	font-size: em(10, 14);
	font-weight: 600;
	a{
		padding: 5px 15px;
		display: inline-block;
	}
	.fa{
		font-size: 16px;
	}
}